@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css');
body, html {
	height: 100%;
	  background-image: url('https://toppng.com/uploads/preview/microphone-device-music-sound-dark-11569915014viix5krik1.jpg');
      background-size:cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: center;
	 }
audio{
	width:100%;
	opacity:0.5;
	height:50px;
}
#dtest{
  background-color:white;
  text-size:40em;
  font-weight: bold;
  border-radius:5px;
  font-family:"Times New Roman", Times, serif;
  width: 400px;
  height:450px;
  padding-top:50px;
  margin: 20px;
  opacity:0.7;
}
h1{
	text-align:center;
	margin-top:30px;
	 font-family:"Times New Roman", Times, serif;
	}
	h2,h4{
	text-align:center;
	margin-top:10px:
	 font-family:"Times New Roman", Times, serif;
	}
	body{
		text-align: center;
	}
	input[type=submit] {
  padding: 12px 20px;
  margin: 8px 0;
}
.ser-input{
    border-color: transparent;
    border-bottom-color: #fff;
    color: #fff;
}
.ser-input:focus {
    border-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.search-full-view {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgb(0, 0, 0);
    opacity: 0;
    z-index: -1;
    transition: .5s all;
    transform: scale(0);
}
.search-full-view.search-normal-screen {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.search-full-view .input-group {
    width: 80%;
    margin: 0 auto;
    top: 40%;
    height: 100px;
}
.search-full-view .input-group .form-control {
    background: transparent;
    border-bottom: 2px solid #fff;
    font-size: 6em;
    padding: 10px;
    vertical-align: unset;
    color: #cdcdcd;
}
.search-full-view .input-group .form-control:focus{
    border-color: #fff;
    border:0 !important;
    border-bottom: 2px solid #fff !important;
}
.search-full-view .input-group{
    background:aliceblue;
    font-size: 4em;
    color: #fff;
    border: 0;
    cursor: pointer;
}
.search-full-view .btn-close {
    background: transparent;
    border: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.searchicon
{
	padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background: aliceblue;
    border-radius: 2px;
    }
.search-full-view .btn-close img { width: 60px; }
.navl{
	color:black;
}
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  color: white;
}